@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@font-face {
  font-family: Gilroy-Black;
  font-display: swap;
  src: url('/font/Gilroy-Black.woff');
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url('/font/Gilroy-Regular.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
}

.nav-items button.active {
  color: #ffb10c;
}

.stars-animate.stars-animate-sticky-top:before {
  content: '';
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background: #112946;
  background: radial-gradient(ellipse closest-side at center, #112946 0, #0b1a2b 36%, #000 100%);
  transition: opacity 0.3s ease-in-out;
}

@keyframes animStar {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  width: 1px;
  border-radius: 5px;
}
