@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@font-face {
  font-family: Gilroy-Black;
  font-display: swap;
  src: url('/font/Gilroy-Black.woff');
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url('/font/Gilroy-Regular.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
}

.nav-items button.active {
  color: #787878;
}
